<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('../partials/_head') %>

    <title>Tiny App - 404 Page Not Found</title>
  </head>

  <body>
    <main style="margin: 1em;">
      <img class="card-img-top" src="../images/errorimg.jpg" alt="404 image">
      <div class="card text-center">
        <p style="text-align:center">The requested URL was not found on this server</p>
     </div>
      <p style="font-size:0.5rem">Background vector created by bamdewanto - <a href='https://www.freepik.com/vectors/background'>www.freepik.com</a></p>



    </main>

    <%- include('../partials/_footer') %>
    
  </body>
</html>