<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('partials/_head') %>

    <title>Tiny App - Invalid URL</title>
  </head>

  <body>

    <%- include('partials/_header') %>

    <main style="margin: 1em;">
      
      <h1>Invalid URL</h1>

      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class= "card-title"><a href = "/urls/new"> Shorten a New URL </a></h5>
          <h5 class= "card-title"><a href = "/urls"> My URLs Index</a></h5>
        </div>
      </div>
    <div class="card-footer text-muted"></div>



    </main>

    <%- include('partials/_footer') %>
    
  </body>
</html>