<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partials/_head') %>

  <title>TinyApp - Login</title>
</head>

<body>

  <%- include('partials/_header') %>

  <main style="margin: 1em;">
     
    <main style="margin: 1em;">
      <h3>Login</h3>
      <p>If you have not yet registered, please register <a href="/register"> Here </a></p>
      <form class="form-group" method="POST" action="/login">
        <div class="form-group mb-2">
          <input class="form-control" type="email" name="email" style="width: 18.75rem; margin: 1rem 0 1rem 0" placeholder="Email">
          <input class="form-control" type="password" name="password" style="width: 18.75rem; margin: 1rem 0 1rem 0" placeholder="Password">
          <button type="submit" class="btn btn-outline-primary" style="width: 18.75rem">Login</button>
        </div>
      </form>
    </main>

  
    <%- include('partials/_footer') %>
    
</body>
</html>
