<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('partials/_head') %>

  <title>TinyApp - Registration</title>
</head>

<body>

  <%- include('partials/_header') %>

  <main style="margin: 1em;">
     
    <main style="margin: 1em;">
      <h3>User Registration</h3>
      <p>Please input your email address and create a password</p>
      <form class="form-group" method="POST" action="/register">
        <div class="form-group mb-2">
          <input class="form-control" type="email" name="email" style="width: 18.75rem; margin: 1rem 0 1rem 0;" placeholder="Email">
          <input class="form-control" type="password" name="password" style="width: 18.75rem; margin: 1rem 0 1rem 0;" placeholder="Password">
          <button type="submit" class="btn btn-outline-primary" style="width: 18.75rem">Register</button>
        </div>
      </form>

      <h6> Already Registered?  Login <a href="/login"> Here </a> </h6>
    </main>

    <%- include('partials/_footer') %>

</body>
</html>
