<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('partials/_head') %>

  <title>TinyApp - Registration</title>
</head>

<body style="height: 100vh" >

  <%- include('partials/_header') %>

  <main class="d-flex justify-content-center" style="margin: 20vh;">
    <div style="border: 2px solid#4287f5; padding: 2rem">
      <h3>Sign Up</h3>
      <form class="form-group" method="POST" action="/register">
        <div class="form-group mb-2">
          <input class="form-control" type="email" name="email" style="width: 18.75rem; margin: 1rem 0 1rem 0;" placeholder="Email">
          <input class="form-control" type="password" name="password" style="width: 18.75rem; margin: 1rem 0 1rem 0;" placeholder="Password">
          <button type="submit" class="btn btn-outline-primary" style="width: 18.75rem">Register</button>
        </div>
      </form>
    
      <p> Already Registered? Login <a href="/login"> Here </a> </p>
    </div>
  </main>

    <%- include('partials/_footer') %>

</body>
</html>
