<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('partials/_head') %>

    <title>Tiny App - New URL</title>
  </head>

  <body>

    <%- include('partials/_header') %>
    <main class="d-flex justify-content-center" style="margin: 20vh;">
      <div style="border: 2px solid#4287f5; padding: 2rem">
        <h3>Create TinyURL</h3>
        <form class="form-group" method="POST" action="/urls">
          <div class="form-group mb-2">
            <label for="longURL">Shorten your link below</label>
            <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 18.75; margin: 1rem 0 1rem 0;">
            <button type="submit" class="btn btn-outline-primary" style="width: 18.75rem">Shorten</button>
          </div>
        </form>
     </div>
    </main>

    <%- include('partials/_footer') %>
    
  </body>
</html>